// .second {

// }

.sec-img {
    margin-right: 40px;

    @include breakpoint-down(medium) {
        margin-right: 20px;
    }

}

.try {
    width: 200px;
}

.content1 {
    text-align: left;
}

.cut-out::before {
    content: "Participate in thrifts (ajo, esusu and adashe) with your family and friends. Create a thrift plan and invite your friends to join you.";

    @include breakpoint-down(medium) {
        content: "Create a thrift plan and invite your friends and family to join you.";
    }
}
