.third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 


    @include breakpoint-down(medium) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        text-align: center;
    }

    &__text {
        width: 90%;
    }

    &__image {
        width: 100%;
        place-self: flex-end;

        img {
            @include breakpoint-down(medium) {
                width: 97%;
            }
        }
        
    }
}

