.third {

    &__text {
        width: 90%;
        margin-top: 50px;

        @include breakpoint-down(medium) {
            margin-top: 0;
        }
        ul {
            padding-left: 25px;
            text-align: left;
        }
    }

    &__image {
        place-self: flex-end;

        @include breakpoint-down(medium) {
            grid-row: 1/2;
            place-self: center;
        }

        img {
            @include breakpoint-down(medium) {
                width: 100%;
                margin: 0 auto;
            }
        }
        
    }
}
