//Colors
$Blue: hsl(224, 99%, 50%);
$light-grey: hsl(0, 0%, 27%);
$black: #1f1f1f;
$very-light-blue: hsla(224, 100%,98%,1);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm:  1rem; // 16px
$font-med: 1.125rem; // 18px
    